---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Astro Template'>
  <h1
    class='bg-zinc-9 text-zinc-3 text-center text-6xl fw-900 group flex justify-center gap-3 items-center h-screen'
  >
    Hello World!<span
      class='group-hover:animate-wobble duration-1000 inline-block i-tabler-hand-stop'
    ></span>
  </h1>
</Layout>
